html,
body {
  height: 100%;
  box-sizing: border-box;
}
body {
  font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
}

main {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.banner {
  justify-content: center;
  width: 35%;
}
.sign-up {
  display: flex;
  align-items: stretch;
  /* justify-content: stretch; */
  flex-wrap: wrap;
  gap: 16px;
  width: 65%;
}

/* form {
  justify-content: stretch;
  flex-wrap: wrap;
  gap: 16px;
} */
.input-group {
  height: 100%;
  display: inline;
}

/* Utility Classes */
.flex-start {
  justify-self: flex-start;
}
.flex-center {
  justify-self: center;
}

.flex-end {
  justify-self: flex-end;
}
