html,
body {
  height: 100%;
  box-sizing: border-box;
}
body {
  font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
}

main {
  display: flex;
  height: inherit;
  flex-direction: row;
  align-items: center;
}

section {
  /* position: relative; */
  flex-direction: column;
  align-items: center;
  height: inherit;
  width: 100%;
}

form {
  display: flex;
  /* height: 100%; */
  /* flex-direction: column; */
  flex-wrap: wrap;
  padding: 1px auto;
  align-items: center;
  justify-content: stretch;
}
.input-group {
  height: 100%;
  display: inline;
}
.col {
  width: 50%;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
}

.row {
  margin: auto;
  height: 33%;
  /* margin-bottom: 0; */
  /* overflow: auto; */
}

/* Utility Classes */
.flex-start {
  justify-self: flex-start;
}
.flex-center {
  justify-self: center;
}

.flex-end {
  justify-self: flex-end;
}
